<div class="search__block">

    <div class="search__input">
        <h1>Start type github user name</h1>
        <mat-form-field>
            <input 
            matInput 
            placeholder="Start type user name" 
            [(ngModel)]="searchStr"
            (ngModelChange)="handleChange()"
            [minlength]="minLength"
            >
            <mat-error>
                Min length is {{minLength}}. Now it is {{searchStr.length}}
            </mat-error>
        </mat-form-field>
    </div>

    <mat-card class="card" *ngIf="isLoaded">
        <mat-card-header>
            <mat-card-title>{{ user.name }}</mat-card-title>
            <mat-card-subtitle>{{ user.location }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="user.avatar_url" [alt]="user.name">
        <mat-card-content>
            <ul>
                <li>public repos: {{ user.public_repos }}</li>
                <li>public gists: {{ user.public_gists }}</li>
                <li>followers: {{ user.followers }}</li>
                <li>following: {{ user.following }}</li>
                <li>created at: {{ user.created_at }}</li>
            </ul>
        </mat-card-content>
        <mat-card-actions class="center">
            <a 
            mat-raised-button 
            color="warn" 
            target="_blank" 
            [href]="user.html_url" 
            >View profile</a>
        </mat-card-actions>
    </mat-card>

</div>