.search__block {
    margin: 0 auto;
    width: 1000px;
    padding-top: 50px;

    h1 {
        margin-bottom: 15px;
    }
    
    .mat-form-field {
        width: 100%
    }

    .center {
        text-align: center;
    }

    .card {
        width: 370px;
        margin: 20px auto;

        ul {
            padding: 10px;
        }
    }
}

